.highlightdata{
    background-color: royalblue;
 }
 .data:hover{
     background-color: aquamarine;
 }
 
 #editinventory
 {
     /* background-image: url('editicon.png'); */
     position: relative;
     float: right;
 }